.header {
    text-align: center;
    height: 50px;
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
}

.title {
    text-align: center;
    padding: 25px;
}

a:active{
    color: #242424;
}