<div class="header"><div class="croix" (click)="onClick()">X</div></div>
<div class="popUp">
    <app-canva *ngIf="!data.logo" [model]="data.model"></app-canva>
    <img *ngIf="data.logo" src="{{ data.model }}">
    <div class="caption">
        <h1>{{data.title}}</h1>
        <mat-dialog-content >
            <p>{{data.caption}}</p>
            <p>{{data.caption}}</p>
        </mat-dialog-content> 
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>