.header {
    background-color: #363636 ;
    height: 30px;
    text-align: right;
    font-size: x-large;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 7px;
    display: flex;
    justify-content: flex-end;
}

.croix {
    cursor: pointer;
    width: 15px;
}

.croix:active {
    color: #363636;
}

.popUp {
    background-color: #242424;
    text-align: center;
    margin:0;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caption {
    font-family: Poppins, Roboto, "Helvetica Neue", sans-serif; 
    color: #f2f2f2;
    font-size: 20px;
}

img {
    margin-top: 50px;
    width:40vw;
}

#canvas {
    cursor: grab;
}