<div class="container">
    <h1 class="hi" >Hi, I'm Axel</h1>
    <p>I am a detail-oriented and  flexible 3D <br> artist and animators</p>
    <img class="avatar" src="/assets/Moi.png">
    <h1 id="about">About me</h1>
    <p>I am a 3D Artist with experience in the field of graphic design and 3D modelling. I have a strong 
        passion for creating 3D models and graphics, and I am always striving to improve my skills and 
        knowledge in this field. I am a quick learner and have a good eye for detail, which makes me a 
        great asset to any team. I am also a motivated individual who is always looking for new challenge.
    </p><br><br>
    <div class="parcours">
        <div class="title">Funika Game</div>
        <div class="blabla">As a 3D Artist I Learned to design and model various environments, assets and characters ensuring that all projects were done in a timely manner. Those assets answer the needs of the Game manager and the Team leader and had to follow the theme guideline. I illustrated the game's assets, and textured objects and designed multiple in-game icons and menu screens in such manner. 
            Animated models to fit the game manager's views and the game aesthetic. I also had to effectively collaborate with every department of a game development team, such as the developer to make sure that all the assets where fit for there us and the platform they would be used on (polycount, texture size, needs of various map) or Game manager to insure that everything was in compliance with the client's needs and requirements.
        </div>
        <div class="title">Polyverse Life</div>
        <div class="blabla">As a 3D Animator I created multiple detailed and functional rigs for High and low polygon models. I supported the lead 3D Artist in the creation of new characters, creatures and environments that fits the vision of the team. I work collaboratively with the communication team to develop efficient and innovative 3D posts. I also research and organise different imagery and design for projects to make and then follow load specification. I imagined and created new innovative 3D Animation for commercial use. I also discussed and assessed the need for a website, then respond to the need with a design.
        </div>
        <div class="title">Freelance</div>
        <div class="blabla">As a freelance Graphic designer, I add to conduct multiple projects and create logos, graphic charts, and user interfaces and I successfully completed multiple  missions with a high customer satisfaction rate.
        </div>
    </div>
</div>