.hi {
    font-size: 100px;
}

.avatar {
    height: 600px;
}

.parcours {
    text-align: left;
}

.title {
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
}

.blabla {
    padding: 20px;
    padding-left: 40px;
    text-align: justify;
}