<div class="container">
    <h1>Hi, I'm Axel</h1>
    <p>I am a detail-oriented and  flexible 3D <br> artist and animators</p>
    <img class="avatar" src="/assets/Moi.png">
    <h1>About me</h1>
    <p>I am a 3D Artist with experience in the field of graphic design and 3D modelling. I have a strong 
        passion for creating 3D models and graphics, and I am always striving to improve my skills and 
        knowledge in this field. I am a quick learner and have a good eye for detail, which makes me a 
        great asset to any team. I am also a motivated individual who is always looking for new challenge.
    </p><br><br>
    <div class="parcours">
        <div class="title">Polyverse Life</div>
        <div class="title">Funika Game</div>
        <div class="title">Freelance</div>
        <div class="blabla">As a 3D Artist I Learned to designed and modelled various environments, 
            assets and characters ensuring that all projects were done in a timely manner, and also to 
            illustrated game assets, and textured objects and designed multiple in-game icons and menu 
            screens.
        </div>
        <div class="blabla">As a 3D Animator I created multiple detailed and functional rigs for High and 
            low polygon models, imagined and created new innovative 3D animation and work collaboratively 
            with the communication team to create efficient and innovative 3D posts.
        </div>
        <div class="blabla">A a freelance Graphic designer, I add to conduct multiple projects and create 
            logos, graphic charts, and user interfaces and I successfully completed multiple missions 
            with a high customer satisfaction rate.
        </div>
    </div>
</div>