<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]=true>
        <div class="image">
            <img src="assets/icon.png">
        </div>
        <div id="link">
            <a href="#about">About</a><br>
            <a href="#project">Projects</a><br>
            <a class="h2" href="#game">Game assets</a><br>
            <a class="h2" href="#perso">Personnal</a><br>
            <a class="h2" href="#graphic">Graphic design</a><br>
            <a href="#contact">Contacts</a><br>
            <a href="#links">Links</a><br>
        </div>
    </mat-sidenav>
</mat-sidenav-container>