.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  background: #242424;
}

.h2 {
  padding-left: 5px;
  font-size: medium;
  font-weight: lighter;
}

.content {
  padding: 0;
  margin: 0px;
}

.image {
  height: 30%;
  background-color: #363636;
  text-align: center;
}

img {
  height: 80%;
  margin-top: 10px;
}

.link {
  padding-top: 100px;
  padding-left: 20px;
  font-size: 22px;
  //
}

a {
  color: rgb(242, 242, 242, 0.2);
}

a:active {
  color: #242424;
}
  