

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  background: #242424;
  color: #f2f2f2;
  text-align: center;
}

.content {
  padding: 0;
  margin: 0px;
}

.image {
  height: 20%;
  background-color: #363636;
}

.link {
  padding-top: 100px;
}

  