img {
  width: 100%;
  min-height: 80%;
  cursor: pointer;
}

.model-card {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: transparentize($color: #000000, $amount: 0.50);
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
  
.model-card:hover .caption {
  visibility: visible;
  opacity: 1;
}