<div class="container">
    <h1 id="project">Projects</h1>
    <h2 id="game">Game assets</h2>
    <div class="table">
        <app-image-list-item *ngFor="let imageListItem of game" [image]="imageListItem"></app-image-list-item>
    </div>
    <h2 id="perso">Personnal</h2>
    <div class="table">
        <app-image-list-item *ngFor="let imageListItem of personnal" [image]="imageListItem"></app-image-list-item>
    </div>
    <h2 id="graphic">Graphic Design</h2>
    <div class="table">
        <app-image-list-item *ngFor="let imageListItem of graphic" [image]="imageListItem"></app-image-list-item>
    </div>
</div>